@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --colorLight:#FFFFFF;
    --colorDark:#2F3645;
    --colorDarkTransparent:#2f3645b3;
    --colorDarkTransparent2:#767a81de;
}
*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: var(--colorLight);
}


/* ----------     navegador      ------------*/

nav{
    
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px;
    transition: background-color 1s;
}
.fondoNav{
    background-color: var(--colorLight);

}
.fondoNav>ul>li>a{
    color: var(--colorDark);
    text-shadow: 1px 1px white, 2px 3px gray;
}
.tema{
    display: none;
}
.tema-block{
    display: block;
}
.menu{
 display: flex;
 width: 300px;
 justify-content: space-around;
}
main{
    padding: 100px 20px;
}
.item-menu{
 list-style-type: none;
 
}
.item-link{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 1px 1px gray, 2px 3px black;
}
.botonesVideo{
    box-shadow: 2px 2px grey;
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--colorLight);
    color:var(--colorDark) ;
    font-weight: 300;
    border: 1px solid var(--colorDark);
    
}
.item-menu:hover{
    transform: translate(3px, 2px);
}
.item-menu:hover > .item-link{
    text-shadow:0.5px 0.5px var(--colorDark) ;
}

.flexItem{
 display: block;
}

/*----- logo ------*/
.mon1{
    animation: part_1 ease-in 5s  ;
    animation-iteration-count:1 ;
    }
    
.mon2{
animation: part_2 ease-in 5s  ;
animation-iteration-count:1 ;
}
line.cod{
    animation-name: showCode;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes part_1{
    0% {
    transform: translate(0,-10px);
    opacity:0;}
    20% {
    transform: translate(0,-10px);
    opacity:0;}
    30% {
    transform: translate(0,0);
    opacity:1;}
    90% {
    transform: translate(0,0);
    opacity:1;}
    
    100% {
        transform: translate(0,0);
        opacity:1;}
}   
    

@keyframes part_2 {
    0% {
        transform: translate(0,-10px);
        opacity:0;}
        30% {
        transform: translate(0,-10px);
        opacity:0;}
        40% {
        transform: translate(0,0);
        opacity:1;}
        90% {
        transform: translate(0,0);
        opacity:1;}

        100% {
            transform:translate(0,0);
            opacity:1;}
        } 
        
@keyframes showCode {
    from{
        stroke: transparent;
    }
    to{
        stroke: green;
    }
    
}
/* ----------     hoja index      ------------*/


header{
 background: url(./assets/imagenes/fondo.jpg) 50% 0 fixed ;
 background-size: cover;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}
#header-2{
    background-image: url(./assets/imagenes/historia-programacion.jpg);

    position: relative;
    height: 70vh;
}
#header-3{
    background-image: url(./assets/imagenes/img2.jpg);

    position: relative;
    height: 70vh;
}
.fondo-azul{
    background: rgba(47, 54, 69,0.7);
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.espacio-titulo{
    padding: 80px 10px;
}
h1{
    font-weight: 400;
    font-size: calc(3em + 18px); 
    color: #eeeeee;
    text-shadow: 2px 2px #808080, 6px 6px black;
}
h2{
    text-shadow: 1px 1px white,2px 2px gray ;
    font-size:calc(2em + 18px) ; 
    font-weight: 500;
    text-align: center;
    color: var(--colorDark)
}
.titulo-blanco{
 text-align: center;
}

.cont-padre{
    margin: 100px 0px;
 width: 100%;
 display: flex;
 justify-content: space-evenly;
 gap: 20px;
}

.card{
 width: 450px;
 height: 500px;
 gap: 40px;
 background-color: var(--colorLight);
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}

.desc-card{
width: 90%;
text-align: center;
height: 30px;
color:#181D31;
}

.img-card{
 width: 100%;
 margin: 0px;

}

.boton-ver{
    padding: 10px ;
   background-color: var(--colorDark);
   text-align: center;
   text-transform: uppercase;
    text-decoration: none;
    width: 80%;
    margin-bottom: 20px;
}

.boton-ver:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}

/* ----------     footer      ------------*/
.logo{
    height: 80px;
}
footer{
    background: var(--colorDark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  90px;
    color: #f5f5f5;
}

.footer-left{
 display: flex;
 justify-content: space-between;
 width:300px;
 height: 60px;
 
}

.titulo-foot{
    font-size: 14px;
}

.cont-historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.card-hist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:80px 50px;
    gap: 20px;    
}
.card-text-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.card-hist>img{
    width: 50%;
}
.text-hist{
    color: var(--colorDark);
}

/* ---------- video ------------*/
.contenedorVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    gap: 80px;

}
.barra{
    background-color:var(--colorDark);
    border-radius: 10px;
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botonera{
    display: flex;
    gap: 20px;
}
.container{
    padding: 5px;
    background-color: var(--colorDark);
    width: 70%;
}

#play,#pause{
   width: 80px;
}


.botonesVideo:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}
#showTime{
   
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   

}
/* ----------     hoja productos      ------------*/


.card-prod{
 width: 250px;
 height: 480px;
}
.titulo-prod{
 font-size: 20px;
}

.img-prod{
 height: 221px;
}


/* ----------     ponerAPrueba     ------------*/
.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cajas{
    display: flex;
    flex-direction: row;
}
.caja{
    width: 275px;
    height: 400px;
    display: flex;
    border: 2px solid black;
    background-color: grey;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.caja:hover{
    background-color: #1d1d1d;
    
}
.caja:hover>p{
    color: var(--colorLight);
}
#cajaimagenes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 40px;
}
#imagen1,#imagen2,#imagen3{
    width: 275px;
    height: 400px;
}
.reinicio{
    display: flex;
    margin: auto;
    padding: 10px 100px;
    border: none;
    border-radius: 0px;
    background-color: var(--colorDark);
    color: var(--colorLight);
    text-transform: uppercase;
    font-weight: 300;
}